html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body{
    font-size: 1rem;
}
h3,h4{
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar { width: 0 !important }
.box{
  margin-top: 12.5px !important;
  margin-bottom: 12.5px !important;
  height: 300px;
}
.box:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}
.box .section{
  height: 100px;
  background-color:rgba(0, 0, 0, 0.8);
  padding-left:1rem;
}
.box:hover .section{
  height: 100px;
  background-color:rgba(255, 255,255, 1);
  padding-left:1rem;
  color:#0C0C0C;
}

.navbar{
  position:fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-option{
  font-family: 'Unica One', cursive;
  font-size: 1rem;
  color: white;
}
.navbar-sm{
  position:fixed;
  z-index: 2;
  display: none;
  visibility: hidden;
}
.hidden-menu{
position: fixed;
right:0px;
height: 100%;
width: 60%;
background-color: rgba(0,0,102,0.8);
padding-top: 60px;
padding-right: 50px;
z-index: 1;
display: none;
visibility: hidden;
color: white;
text-align: right ;
font-family: 'Unica One', cursive;
}
.hidden-menu-visible{
  display: none;
  visibility: hidden;
}
.section-1{
  background-image: url('../media/img/bc-section-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.section-1-title h1{
  color: white;
  font-weight: 800;
  font-size: 6rem;
  margin:0;
  padding:0;
  line-height: 6rem;
  margin-bottom: 7px;
}
.section-1-title-light{
  font-weight: 300;
}
.section-1-subtitle h2{
  color: #CCCCCC;
  font-family: 'Unica One', cursive;
  font-size: 1rem;
  margin:0 !important;
  padding:0 !important;
}

.icon{
  max-height: 100px;
}
.avatar{
  border-radius: 100%;
}

.section-3{

}
.work{
  background-image: url('../media/img/test-bc-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.work-1:hover{
  filter:grayscale(0);
}

.font-unica{
  font-family: 'Unica One', cursive;
}
.font-color-white{
  color:white;
}
.bc-color-0C0C0C{
  background-color: #0C0C0C;
}

.text-align-center{
  text-align: center;
}



/*for-tagmaggedon */

.align-content-start{
  align-content: flex-start !important;
}
.align-content-end{
  align-content: flex-end !important;
}
.justify-content{
  justify-content:space-around;
}
.align-content-stretch{
  align-content: stretch !important;
}

.vh-100{
  height: 100vh;
}
.vh-80{
  height: 80vh;
}
.h-15{
  height: 15px;
}
.h-30{
  height: 30px;
}
.h-50{
  height: 50px;
}
.h-100{
  height: 100px;
}
.h-150{
  height: 150px;
}
.h-200{
  height: 200px;
}
.h-full{
  height: 100%;
}
.border{
  border: 1px solid grey;
}

/* menu hamburguer */
.hamburger {
    display: none;
    cursor: pointer;
    visibility: hidden;
}
.hamtext{
  cursor: pointer;
  color:pink;
  font: 'Unica One', cursive;
}
.hambar1, .hambar2, .hambar3 {
    width: 35px;
    height: 5px;
    background-color: pink;
    margin: 6px 0;
    transition: 0.4s;
}

.change .hambar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hambar2 {opacity: 0;}

.change .hambar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 768px) {
  .section-1-title h1{
    font-size: 5rem !important;
  }
  .navbar{
    display: none;
    visibility: hidden;
  }
  .navbar-sm{
    display:block;
    visibility: visible;
  }
  .hamburger{
    display:block;
    visibility: visible;
  }
  .hidden-menu-visible{
    display: block;
    visibility: visible;
  }
}
